
body{
    font-size: 100%;
    background-color: rgba(167, 208, 216, 0.986);
    padding: 0;
    margin: 0;  
}
#navbar{
    background-color:#147dd3 ;
    height: 100px;
    display: flex;
    align-items: center; 
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    align-items: center;
    list-style: none;
    margin: 15px;
    
}
#navbar a{
    background-color: rgb(74, 165, 207);
    color: white;
    font-size: 1.8em;
    padding: 15px;
    text-decoration: none;
}
#banner{
    /* width: 100%; */
    min-height:300px;
    background-image:url('https://cdn.pixabay.com/photo/2017/09/17/08/39/curtain-2757815_960_720.png');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;   
    position: relative;
    /* top: -28px; */
    z-index: 1;
    margin: 0 125px;  
}
#title{
    z-index: 2;
    position: absolute;
    left: 15%;
    color: white;
    font-size: 2.4em;
    line-height: 0.2;

}
form{
    width: 100%;
    margin-top: 50px;
    position: relative;
    left: 25%;
}
#search, #submit{
    border-radius: 15%;
    height: 50px;
    /* position: absolute;
    top: 250px;
    left: 550px; */
    height: 46px;
}
#search{
    position: relative;
    height: 50px;
    font-size: 0.8em;
    line-height: 46px;
    width: 100%;
    color: rgb(0,0,0);
    border: none;
    border-radius: 30px;
    padding: 0 0 0 20px;
    z-index: 1;
    text-decoration: none;
}
#search:focus, #submit:focus{
    outline: none;
}
#submit{
    height: 50px;
    z-index: 2;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: -20px;
    color: rgb(91, 40, 231);
    background-color: rgba(131, 224, 212, 0.986);
    font-size: 0.8em;
    /* margin-right: 0; */
}
#list-movie{
    display: flex;
    overflow-x: auto;
    background-color: rgb(255, 253, 253);
    border: rgb(236, 223, 223) 15px solid;
    /* margin-top: -15px; */
    /* width: 100%; */
    margin: 0 20px;
    padding: 10px;
    /* height: 380px;     */
}
/* #list-movie a{
    color: seagreen;
    align-items: center;
} */
.movie{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 15px;  
    border: rgb(197, 72, 228) solid 2px;
    height: 100%;
    
}
.movie h2{
    color: rgb(185, 197, 14);
    font-size: 1.2em;
    margin-left: 15px;
}
.movie img{
    min-height: 300px;
    max-width: 250px;
    max-height: 300px;
    border-radius: 15%;

}
.date{
    font-size: 1em;
    color: slategray;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 15px;
}
#error{
    text-align: right;
    color: rgb(245, 84, 66);
    position: relative;
    left: 225px;
    font-size: 2.3em;
}
footer{
    position: relative;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color:#147dd3 ;
}
footer p{
    position: absolute;
    top: 15px;
    left: 50%;
    font-size: 1.4em;
    /* transform: translateY(-50% -50%); */
}
@media (min-width: 744px) {
    body {
      margin: 0;
      padding: 0;
    }
  }